<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	
			<div wicket:id="container" style="font-size: 12px;">
				<!-- <span wicket:id="icon" style="float: left; margin-right: .3em;"></span> -->
                <table style="padding: 15px; margin: 15px; height: 60px; text-align: center; width: 350px;">
                <tr ><td colspan="2" style="text-align: left; padding-bottom: 25px;">
				<span wicket:id="message"  ></span>
                </td>
                </tr>
                <tr>
                <td>
                <a wicket:id="ok" class="button-green" ><wicket:message key="button.si"/></a>
                </td>
                <td>
                <a wicket:id="cancel" class="button-green" ><wicket:message key="button.no"/></a>
                </td>
                </tr>
                </table>
			</div> 
	
</wicket:panel>